@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;1,100;1,200;1,300;1,400;1,500;1,700&family=Rubik:wght@300&family=Wallpoet&display=swap');

body {
    margin: 20;
    background-color: rgb(38, 75, 77);
    background-image: url('Testee.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.carta {
    width: 300px;
    height: 520px;
    border: 10px outset #F0E602;
    border-radius: 5px;
    margin: 20px;
    background-color: rgb(38, 75, 77);
    /*background-image: url('Testee.png');*/
    box-shadow: 10px 5px 5px black;
}

.foto {
    width: 65%;
    height: 40%;   
    border: 6px outset darkgrey; 
    margin: auto;
}

.imagem {
    width: 100%;
    height: 100%;
}

.nome {
    width: 200px;
    height: auto;
    background-color: #F0E602;
    border: 2px outset #F0E602;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-right: 0px;
}

h4#nome {
    font-family: 'Wallpoet', cursive;
    font-weight: 400;
    font-size: 20;
    color: black;
    text-align: right;
    margin: auto;
}

.bio {
    width: 95%;
    height: auto;
    border: 2px outset;
    margin: 10px auto auto auto;
}

h5 {
    font-family: "Poppins";
    font-weight: 400;
    text-align: left;
    margin: 0px 5px;
}

p {
    font-family: "Rubik";
    font-style: italic;
    font-size: 12;
    text-align: justify;
    /* top right bottom left*/
    margin: 3px 10px 3px 10px;
}

.habilidade {
    width: 95%;
    height: auto;
    border: 2px outset;
    margin: 5px auto auto auto;
}

p#habilidade {
    text-align: justify;
    /* top right bottom left*/
    margin: 5px 10px auto 10px;
}

.fraqueza {
    width: 95%;
    height: auto;
    border: 2px outset;
    margin: 5px auto 10px auto; 
}

img#verso {
    width: 300px;
    height: 520px;
    background-size: cover;
}

.carta#verso {
    width: 300px;
    height: 520px;
}



